# DigitalOcean Spaces credentials
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_NAME= 
DO_SPACES_ENDPOINT=
OPENAI_API_KEY=
CHROMA_URL=
CHROMA_CLIENT_AUTH_CREDENTIALS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
DATABASE_URL=
FRONTEND_URL=